* {
    background-color: rgb(247, 241, 241);
    color: rgb(228, 160, 13);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.App-header {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    align-content: space-around;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    line-height: 15px;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}