footer {
    width: 100%;
    height: 80px;
    margin: auto;
    bottom: 0;
    position: fixed;
    background-color: rgb(224, 163, 19);
}

.icones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
