$max-width: 1200px;
$font-family: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body {
    font: 16px Roboto, sans-serif;
    background: rgb(82, 113, 255);

}

//Inicio do container
button {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: rgb(10, 10, 10);
    background: rgb(238, 233, 233);
    border: 0;
    border-radius: 16px;
    padding: 10px 20px;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
    max-width: 200px;

    &:hover {
        background: darken(rgb(229, 231, 240), 10%);
        box-shadow: 14px 14px 14px 14px rgba(152, 153, 155, 0.945);
    }

    input {
        font-style: italic;
        font-size: 15px;
        font-weight: bold;
        color: rgb(10, 10, 10);
        background: rgb(238, 233, 233);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 89px;
    background: rgb(82, 113, 255);
    padding: 0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


    .navConteudo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        list-style: none;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
        padding: 0 20px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(10, 10, 10);
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        background: rgb(82, 113, 255);
    }



    button {
        display: block;
        width: 100%;
        padding: 10px 0;
        text-decoration: none;
        color: rgb(10, 10, 10);
        background: rgb(238, 233, 233);
        border-bottom: 1px solid #ccc;
        border-radius: 16px;
        box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
        max-width: 200px;

    }

    h1 {
        font-size: 30px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

    }

    img {
        height: 70px;
        border-radius: 16px;
        cursor: pointer;
    }

}

//fim do container
//inicio input
.input-section {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;


    form {
        max-width: $max-width;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 30px;
            color: rgb(225, 229, 241);
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 20px;
        }

        label {
            font-size: 20px;
            color: rgb(22, 23, 24);
            margin-bottom: 10px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-family;

        }

        .input-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100;
            gap: 2px;

            input {
                height: 40px;
                width: 100%;
                padding: 0 20px;
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: rgb(10, 10, 10);
                background: rgb(238, 233, 233);
                border: none;
                border-radius: 16px;

                &:hover {
                    background: rgb(8, 61, 235);
                    color: #f0f0f5;

                }
            }

            select {
                height: 40px;
                width: 100%;
                padding: 0 20px;
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: rgb(10, 10, 10);
                background: rgb(238, 233, 233);
                border: none;
                border-radius: 16px;

                &:hover {
                    background: rgb(8, 61, 235);
                    color: #f0f0f5;

                }
            }

            option {
                height: 40px;
                width: 100%;
                padding: 0 20px;
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: rgb(10, 10, 10);
                background: rgb(238, 233, 233);
                border: none;
                border-radius: 16px;

                &:hover {
                    background: rgb(8, 61, 235);
                    color: #f0f0f5;

                }
            }
        }

        button {
            height: 40px;
            width: 100%;
            padding: 0 20px;
            border: none;
            font-size: 15px;
            font-weight: bold;
            color: rgb(10, 10, 10);
            background: rgb(238, 233, 233);
            border: none;
            border-radius: 16px;
            margin-top: 20px;
            box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
            max-width: 200px;

            &:hover {
                background: rgb(8, 61, 235);
                color: #f0f0f5;

            }
        }

    }
}

//fim input
//incio da secao de usuarios e listagem de produtos, estou comentando para nao dar erro no codigo ou nao me perder nessa jossa
.UsuariosContainer {
    background-color: #9bbad3;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 19vh;
    width: 250px;
    padding: 0 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border-radius: 12px;

    .card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        list-style: none;
        text-align: center;
        justify-items: center;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        padding: 15px;

    }

    h2 {
        font-size: 15px;
        color: rgb(4, 21, 41);
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
}

//acabou essa desgraça
//inicio login
.Background {
    width: 100%;
    height: 100vh;
    background: rgb(82, 113, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        background-color: #f0f0f5;
        max-width: 600px;
        width: 100%;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 15px 15px 15px 150px rgba(7, 2, 53, 0.2);

        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            margin-bottom: 15px;
        }

        h1 {
            font-size: 30px;
            color: rgb(8, 61, 235);
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .SELECAO {
            width: 9em;
            height: 2em auto;
            font-family: pfs-bold;
            color: #86919a;
            text-transform: uppercase;
            font-size: 1.5em;
            background-color: #f0f0f5;
            border: none;
            border-radius: 16px;
            box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;

            option {
                padding: 1em;
                font-family: pfs-bold;
                color: #86919a;
                text-transform: uppercase;
                font-size: 1.2em;
                background-color: #f0f0f5;
                border: none;
            }
        }

        #date {
            width: 11em;
            height: 2em auto;
            font-family: pfs-bold;
            color: #86919a;
            text-transform: uppercase;
            font-size: 1.2em;
            background-color: #f0f0f5;
            border: none;
            border-radius: 16px;
            box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            label {
                font-size: 20px;
                color: rgb(8, 61, 235);
                font-weight: bold;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
            }

            input {
                height: 40px;
                width: 100%;
                padding: 0 20px;
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: rgb(10, 10, 10);
                background: rgb(238, 233, 233);
                border: none;
                border-radius: 16px;

                &:hover {
                    background: rgb(8, 61, 235);
                    color: #f0f0f5;
                }

                select {
                    height: 40px;
                    width: 100%;
                    padding: 0 20px;
                    border: none;
                    font-size: 15px;
                    font-weight: bold;
                    color: rgb(10, 10, 10);
                    background: rgb(238, 233, 233);
                    border: none;
                    border-radius: 16px;

                    &:hover {
                        background: rgb(8, 61, 235);
                        color: #f0f0f5;
                    }
                }

            }

            button {
                height: 40px;
                width: 100%;
                padding: 0 20px;
                border: none;
                font-size: 15px;
                font-weight: bold;
                color: rgb(10, 10, 10);
                background: rgb(238, 233, 233);
                border: none;
                border-radius: 16px;

                &:hover {
                    background: rgb(8, 61, 235);
                    color: #f0f0f5;
                }
            }

            .Cadastro {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;

                a {
                    font-size: 15px;
                    color: rgb(8, 61, 235);
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Roboto', sans-serif;
                }
            }
        }
    }

}