div{
    padding-top: 28px;
    background-color: rgb(216, 200, 200);
    color: #fff;
}
p{
    color: #fff;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: #fff 0px 0px 10px 10px;
}
p:hover{
    background-color: rgb(238, 17, 17);
    color: rgb(236, 223, 223);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: #fff 0px 0px 10px 10px;
}
a{
    color: rgb(20, 18, 18);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: #fff 0px 0px 10px 10px;
    text-decoration: none;
    border-radius: 15px;
}
a:hover{
    background-color: rgb(238, 17, 17);
    color: rgb(236, 223, 223);
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: #fff 0px 0px 10px 10px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 55;
    padding: 0;
    overflow: hidden;
    background-color: rgb(216, 200, 200);
    color: #fff;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: #fff 0px 0px 10px 10px;
    border-radius: 82px;
}
p{
    
}